<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-gray-900">
  
    <%= form.label :title %>
    <span class="px-1 ">
      <%= form.text_field :title %>
    </span>

  
    <%= form.label :content %>
    <span class="px-1">
      <%= form.text_area :content %>
    </span>
  
  
  </div>
 

  <%= form.label :category_id %>
  <%= form.select :category_id, Category.all.collect {|c| [c.name , c.id ] } %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
